/* основной цвет фона #E5E5E5  
цвет фона для футера #2F303A
цвет фона для шапки #FFFFFF
дополнительный цвет фона #F5F4FA
цвет акцент #2196F3
основной цвет текста #757575
цвет заголовков #212121
донительный цвет текста #FFFFFF
цвет лого #000000  */

:root {
    --primary-background-color: #E5E5E5;
    --secondary-background-color: #F5F4FA;
    --primary-text-color: #757575;
    --secondary-text-color: #FFFFFF;
    --accent-color: #2196F3;
   }


body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

